<h1>Listing movies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Cover</th>
    <th>Trailer</th>
    <th>Imdb</th>
    <th>Year</th>
    <th>Added</th>
    <th>Rating</th>
    <th>Summary</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @movies.each do |movie| %>
  <tr>
    <td><%= movie.name %></td>
    <td><%= movie.cover %></td>
    <td><%= movie.trailer %></td>
    <td><%= movie.imdb %></td>
    <td><%= movie.year %></td>
    <td><%= movie.added %></td>
    <td><%= movie.rating %></td>
    <td><%= movie.summary %></td>
    <td><%= movie.notes %></td>
    <td><%= link_to 'Show', movie_path(movie) %></td>
    <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
    <td><%= link_to 'Destroy', movie_path(movie), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Movie', new_movie_path %>
