<div class="movie-content" id="movie">
  <form action='movies'>
	<div id="rightItemView">
		<%= this.cover ? img_tag(this.cover) : '' %>
	</div>
	<p>
		<label for="name">Name:</label>
		<%= input_field_tag('movie[name]', this.name) %>
	</p>
	<p>
		<label for="year">Year Released:</label>
		<%= input_field_tag('movie[year]', this.year) %>
	</p>
	<p>
		<label>Genre:</label>
		<select id="genres_multiselect" name='movie[genres][]' multiple="multiple">
		<% 
		var gs = Movies.Models.Genre.findAll()
		for(var i in gs){ 
		  var g = gs[i];
		%>
			<option value="<%= g %>" <%= $.inArray(g,this.genres)>-1 ? 'selected="selected"' : '' %>><%= g %></option>
		<% } %>
		</select>
	</p>
	<p>
		<label>Format:</label>
		<span id="formatset">
			<input type="radio" id="format_bluray" name="movie[format]" value="Bluray" checked="checked" /><label for="format_bluray">Bluray</label>
			<input type="radio" id="format_dvd" name="movie[format]" value="DVD" /><label for="format_dvd">DVD</label>
		</span>
	</p>
	<p>
		<label>Rating:</label>
		<span id="rating"></span>
	</p>
	<p>
		<label for="added">Date Added:</label>
		<%= input_field_tag('movie[added]', this.added) %>
	</p>
	<p>
		<label for="summary">Summary:</label>
		<%= text_area_tag('movie[summary]', this.summary) %>
	</p>
	<p>
		<label for="notes">Notes:</label>
		<%= text_area_tag('movie[notes]', this.notes) %>
	</p>
	<p>
		<input type="submit" val="Create" />
		<button type="button" id="cancel" class="cancelcreate">Cancel</button>
		<%= hidden_field_tag('movie[cover]', this.cover) %>
		<%= hidden_field_tag('movie[trailer]', this.trailer) %>
		<%= hidden_field_tag('movie[imdb]', this.imdb) %>
		<input type="hidden" name="_method" value="post" />
	</p>
  </form>
</div>
