<h2 class="ui-widget-header movie-title ui-corner-all"><%= movie.name %></h2>
<div id="leftItemView" class="movie-content">
	<div id="rightItemView">
		<%= movie.cover ? img_tag(movie.cover) : '' %>
	</div>
	<p>
		<label>Year Released:</label>
		<span><%= movie.year %></span>
	</p>
	<p>
		<label>Genre:</label>
		<span><%= movie.genres.join(", ") %></span>
	</p>
	<p>
		<label>Format:</label>
		<span><%= movie.format %></span>
	</p>
	<p>
		<label>Rating:</label>
		<span id="rating"></span>
	</p>
	<p>
		<label>Date Added:</label>
		<span><%= movie.added %></span>
	</p>
	<p>
		<label>Summary:</label>
		<span><%= movie.summary %></span>
	</p>
	<p>
		<% if(movie.notes){ %>
		<label>Notes:</label>
		<span><%= movie.notes %></span>
		<% } %>
	</p>
	<p>
		<% if(movie.trailer){ %>
		<label>Trailer:</label>
		<span><%= movie.trailer ? link_to(movie.trailer,movie.trailer) : "" %></span>
		<% } %>
	</p>
	<p>
		<button type="button" id="editMovie">Edit</button>
	</p>
</div>
