<!DOCTYPE html>
<html>
<head>
  <title>Movies</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/themes/dark-hive/jquery-ui.css" %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js" %>
  <script type="text/javascript">
    $(document).ready(function(){
		$("#nav").buttonset();
	});
  </script>
  <%= yield :head %>
</head>
<body>
  <div id="container">
	<div id="header">
		<a class="logo" href="/">
			<img class="default" src="/images/logo.png" alt="movies" />
			<![if !IE]>
			<img class="hover" src="/images/logo-hover.png" alt="movies" />
			<![endif]>
		</a>
		<div id="topsearch">
			<ul id="nav">
				<% if current_user %>
				<li><a href="/catalogues/<%= current_user.catalogue_id %>/movies">Home</a></li>
				<% else %>
				<li><a href="/">Home</a></li>
				<% end %>
				<li><a href="/">Account</a></li>
				<% if current_user %>
				<li><a href="/catalogues/<%= current_user.catalogue_id %>/changes">Recent Changes</a></li>
				<li><a href="/logout">Logout</a></li>
				<% else %>
				<li><a href="/">Recent Changes</a></li>
				<li><a href="/login">Login</a></li>
				<% end %>
			</ul>
		</div>
	</div>
	
	<% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
    <% end %>

	<div id="body">
<%= yield %>
	</div>
	<div id="footer">
		<a href="http://schmidekmovies.appspot.com/MovieCatalogue.jnlp">Download the Desktop Client</a>
	</div>
  </div>
</body>
</html>
