<!DOCTYPE html>
<html>
<head>
  <title>Movies</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/themes/dark-hive/jquery-ui.css", "http://trirand.com/blog/jqgrid/themes/ui.jqgrid.css" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js", "http://trirand.com/blog/jqgrid/js/i18n/grid.locale-en.js" ,"http://trirand.com/blog/jqgrid/js/jquery.jqGrid.min.js", 'movies.js', 'ejs_production.js' %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
    $(document).ready(function(){
		$("#nav").buttonset();
	});
  </script>
</head>
<body>

	<div id="header">
		<a class="logo" href="/">
			<span>Movies</span>
		</a>
		<div id="topsearch">
			<ul id="nav">
				<li><a href="/">Home</a></li>
				<li><a href="/">Account</a></li>
				<li><a href="/catalogues/1/changes">Recent Changes</a></li>
				<li><a href="/logout">Logout</a></li>
			</ul>
		</div>
	</div>
	
	<% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
    <% end %>

	<div id="content">
<%= yield %>
	</div>

</body>
</html>
